.element__like-link {
    margin-right: 5px;
    min-width: 22px;
    height: 19px;
    display: block;
    text-decoration: none;
    background-image: url(../../../images/icons/like.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.element__like-link:hover {
    opacity: .5;
}

.element__like-link:active {
    opacity: 1;
    background-image: url(../../../images/icons/like-active.svg);
}