.header {
    width: 100%;
    max-width: 880px;
    min-height: 74px;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
  }

  @media (max-width: 879px) {
    .header {
        min-height: 56px;
    }
}
