.element__like-link {  
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/icons/like.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: white;
    transition: opacity 0.3s;
}

.element__like-link:hover {
    opacity: .5;
}

.element__like-link:active {
    opacity: 1;
    background-image: url(../../../images/icons/like-active.svg);
}