.content {
    width: 100%;
    max-width: 880px;
    margin: 40px 0 66px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
    gap: 51px;
    box-sizing: border-box;
}

@media (max-width: 879px) {
    .content {
        margin: 42px 0 48px;
        gap: 36px;
    }
}